{% extends "webapp/base.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'webapp/css/contact.css' %}">
  </head>

  <body class="basicStyles">
    <ul id="menu">
      <li><a href="https://www.facebook.com/digya.acharya"><i class="fa fa-facebook" style="color:#BCAAA4"></i></a></li>
      <li><a href="https://twitter.com/DigyaAcharya"><i class="fa fa-twitter" style="color:#BCAAA4"></i></a></li>
      <li><a href="https://www.linkedin.com/in/digya-acharya-ab175a130/" style="color:#BCAAA4"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://github.com/Digya053"><i class="fa fa-github" style="color:#BCAAA4"></i></a></li>
      <li><a href="https://www.quora.com/profile/Digya-Acharya" style="color:#BCAAA4"><i class="fa fa-quora"></i></a></li>
      <li><a href="mailto:digyaacharya753@gmail.com" style="color:#BCAAA4"><i class="fa fa-envelope"></i></a></li>
     </ul>
  </body>
</html>

{% endblock content %}


