{% extends "webapp/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'webapp/css/home.css' %}">
  </head>

  <body class="basicStyles">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
	      <img class="img-responsive" src="{% static 'webapp/images/image.jpg' %}">
        </div>
	
	     <div class="col-md-7 center-block">
	       <div class="customDiv">
		     <p> I completed my Bachelor's Degree in Electronics and Communication Engineering form Institute of Engineering, Pulchowk Campus, Tribhuvan University. Currently, I am working as a Machine Learning Engineer in Fusemachines Nepal Private Limited.
			 </p>
		   </div>
	     </div>
       </div>
     </div>
  </body>
</html>

{% endblock content %}


