.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color:#BCAAA4;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color:#D7CCC8;
    color:#000000;
}

.navbar-nav>li>.dropdown-menu,
.open>.dropdown-menu{
    margin-top: 0;
    background-color:#BCAAA4;
    min-width: 40px;
    padding-top: 0;
}

.dropdown-menu > li > a:hover {
    background-color:#D7CCC8;
    color:#000000;
}

.navbar-default .navbar-nav>li>a {
    color: #393939;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color:#D7CCC8;
    color: #000000;
    
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:visited {
    color: #000000;
    background-color: #D7CCC8;
}

.navbar-default .navbar-nav>li>a:focus {
    background-color:#D7CCC8;
    color: #000000;
}

nav ul {
    display: inline;
}

nav ul li {
    text-align: center;
    padding-right: 142px;
    padding-left: 141px;
}

nav {
    width: 100%;
}


